@import "google-material-color/dist/palette";

$sidebar-width: 250px;

$primary-font-color: palette(Grey, 900);

/**
 * Common
 */
.btn, input.form-control {
    border-radius: 0 !important;
}

.clickable {
    cursor: pointer;
}

/**
 * Header
 */
.ticklr-header {
    margin-bottom: 0;
}

/**
 * Sidebar
 */
.ticklr-sidebar {
    position: fixed;
    height: 100%;
    width: $sidebar-width;
    box-sizing: border-box;
    background: palette(Grey, 100);
    border-right: 1px solid #eee;

    ul {
        cursor: pointer;
        padding: 0;
        list-style: none;

        li {
            a {
                color: $primary-font-color;
                line-height: 50px;
                padding-left: 20px;
                display: block;
                text-decoration: none;
            }
        }

        li:hover {
            background: palette(Grey, 300);
        }
    }
}

/**
 * Main container
 */
.ticklr-main {
    margin-left: $sidebar-width;
    padding: 10px;
}

/**
 * AuthComponent
 */
.login-modal {
    display: block;
    position: fixed;
    top: 100px;

    form {
        margin: 0;
    }

    .login-failed-msg {
        background: palette(Red, 100);
        padding: 5px;
    }

    .login-switch {
        cursor: pointer;
        color: palette(Grey, 900);

        .delimiter {
            color: palette(Grey, 700);
        }
    }

    .login-switch.disabled {
        color: palette(Grey, 500);
    }

    .login-switch:hover {
        color: palette(Grey, 900);
        text-decoration: none;
    }

    input {
        margin-bottom: 10px;
    }

    .controls {
        margin-top: 20px;
        text-align: right;

        button {
            margin-left: 5px;
            width: 80px;
        }
    }
}
