@import "google-material-color/dist/palette";

$navbar-height: 50px;

$sidebar-width: 200px;

$primary-font-color: palette(Grey, 900);

/**
 * Common
 */
.btn, input.form-control, textarea.form-control {
    border-radius: 0 !important;
}

.clickable {
    cursor: pointer;
}

.ticklr-page-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding-top: $navbar-height;
    border-left: 1px solid palette(Grey, 300);
    border-right: 1px solid palette(Grey, 300);
    min-height: 100%;
}

/**
 * Header
 */
.ticklr-header {
    z-index: 1;
    margin-bottom: 0;
}

/**
 * Sidebar
 */
.ticklr-sidebar {
    position: fixed;
    height: 100%;
    width: $sidebar-width;
    box-sizing: border-box;
    background: palette(White);
    border-right: 1px solid #eee;

    ul {
        cursor: pointer;
        padding: 0;
        list-style: none;

        li {
            a {
                color: $primary-font-color;
                line-height: 50px;
                padding-left: 20px;
                display: block;
                text-decoration: none;
            }
        }

        li:hover {
            background: palette(Grey, 200);
        }
    }
}

/**
 * Main container
 */
.ticklr-main {
    margin-left: $sidebar-width;
    padding: 0;
}

/**
 * AuthComponent
 */
.auth-component {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(#000, .8);
    z-index: 2;

    .login-modal {
        display: block;
        position: fixed;
        top: 100px;
        z-index: 3;

        form {
            margin: 0;
        }

        .login-failed-msg {
            background: palette(Red, 100);
            padding: 5px;
        }

        .login-switch {
            cursor: pointer;
            color: palette(Grey, 900);

            .delimiter {
                color: palette(Grey, 700);
            }
        }

        .login-switch.disabled {
            color: palette(Grey, 500);
        }

        .login-switch:hover {
            color: palette(Grey, 900);
            text-decoration: none;
        }

        input {
            margin-bottom: 10px;
        }

        .controls {
            margin-top: 20px;
            text-align: right;

            button {
                margin-left: 5px;
                width: 80px;
            }
        }
    }
}

/**
 * EventsComponent
 */
.events-component {
    margin: 20px;
    .events-heading {
        line-height: 50px;
        h2 {
            margin: 0;
            font-size: 1.8em;
        }
    }
    .events-categories {
        margin-top: 20px;
    }
    .events-list {
        margin-top: 20px;
    }
}

/**
 * EventDetailComponent
 */
.event-detail-component {
    margin: 20px;
}
