<div *ngIf="model" class="event-detail-component"  *ngIf="authContext().isLoggedIn()">

    <form [ngFormModel]="eventForm" (ngSubmit)="save()">
        <button type="submit" class="btn btn-primary">Save</button>

        <div class="input-group">
            <label for="title">Event Title</label>
            <input type="text" class="form-control" id="title" [ngFormControl]="eventForm.controls.title" [(ngModel)]="model.title">
        </div>

        <div class="input-group">
            <label for="description">Event Description</label>
            <textarea id="description" cols="50" rows="10" class="form-control" [ngFormControl]="eventForm.controls.description" [(ngModel)]="model.description"></textarea>
        </div>

        <div>
            <label>Start Time</label>
            <datetime-input [id]="'eventStartTime'" [(ngModel)]="model.startTime"></datetime-input>
        </div>

        <div>
            <label>End Time</label>
            <datetime-input [class]="'eventEndTime'" [(ngModel)]="model.endTime"></datetime-input>
        </div>

        <div>
            <label>Visibility:</label>
            <input type="radio" id="public_yes" name="public" (change)="model.isPublic = true"> <label for="public_yes">This is a public event.</label>
            <input type="radio" id="public_no" name="public" (change)="model.isPublic = false"> <label for="public_no">This is a private event.</label>
        </div>

    </form>
</div>

