<div class="events-component" *ngIf="authContext().isLoggedIn()">

    <div class="events-heading">
        <h2 class="pull-left">Your Events</h2>
        <a class="btn btn-primary pull-right" [routerLink]="['./create']"><span class="glyphicon glyphicon-plus"></span> Create Event</a>
    </div>

    <div class="clearfix"></div>

    <ul class="nav nav-tabs events-categories">
        <li role="presentation" class="active"><a href="#">Current Events</a></li>
        <li role="presentation"><a>Upcoming Events</a></li>
        <li role="presentation"><a>Past Events</a></li>
    </ul>

    <div *ngFor="let event of events" class="events-list">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a [routerLink]="['./', event.href|base64]">{{event.title | capitalize}}</a>
                </h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>

</div>
